body{
	background-color: lightblue;
}
h1 {
	color:blue;
	font-family: verdana;
	font-size: 300%;
}
p {
	color: red;
	font-family: courier;
	font-size: 160%
}
#para1{
	text-align: left;
	color: red;
}
.center{
	text-align: center;
	color: yellow;
}

.amount{
	position: relative;
	left: 50%;
	margin-left: -100px;
}